@mixin font94 {
  font-size: 4.89vw;
  letter-spacing: 2%;
  font-weight: 500;

  @include devices(laptop) {
    font-size: 5vw;
    letter-spacing: 2%;
    line-height: 130%;
  }

  @include devices(tablet) {
    font-size: 6.5vw;
  }

  @include devices(mobile) {
    font-size: 8vw;
    letter-spacing: 4%;
  }
}

@mixin font72 {
  font-size: 3.75vw;
  letter-spacing: 1%;
  font-weight: 500;

  @include devices(tablet) {
    font-size: 5.5vw;
    letter-spacing: 1%;
  }

  @include devices(mobile) {
    font-size: 7vw;
  }
}

@mixin font48 {
  font-size: 2.5vw;
  letter-spacing: 0%;
  font-weight: 400;
  line-height: 150%;

  @include devices(laptop) {
    font-size: 2.8vw;
    letter-spacing: 0%;
  }

  @include devices(tablet) {
    font-size: 3.7vw;
  }

  @include devices(mobile) {
    font-size: 5.5vw;
  }
}

@mixin font32 {
  font-size: 1.66vw;
  letter-spacing: 0%;
  font-weight: 500;
  line-height: 150%;

  @include devices(laptop) {
    font-size: 1.9vw;
  }

  @include devices(tablet) {
    font-size: 3.2vw;
  }

  @include devices(mobile) {
    font-size: 4.2vw;
  }
}

@mixin font28 {
  font-size: 1.45vw;
  letter-spacing: 0%;

  @include devices(laptop) {
    font-size: 1.7vw;
  }

  @include devices(tablet) {
    font-size: 2.8vw;
  }

  @include devices(mobile) {
    font-size: 3.5vw;
  }
}

@mixin font20 {
  font-size: 1.04vw;
  letter-spacing: -0.25px;
  line-height: 150%;

  @include devices(laptop) {
    letter-spacing: 0%;
    font-size: 1.2vw;
  }

  @include devices(tablet) {
    font-size: 2vw;
    letter-spacing: 0%;
  }

  @include devices(mobile) {
    font-size: 3vw;
  }
}

@mixin font18 {
  font-size: 0.9vw;
  letter-spacing: 4%;

  @include devices(laptop) {
    font-size: 1.1vw;
    letter-spacing: 4%;
  }

  @include devices(tablet) {
    font-size: 1.8vw;
  }

  @include devices(mobile) {
    font-size: 2.6vw;
  }
}

@mixin font16 {
  font-size: 0.8vw;
  letter-spacing: 4%;

  @include devices(laptop) {
    font-size: 1vw;
    letter-spacing: 4%;
  }

  @include devices(tablet) {
    font-size: 1.6vw;
  }

  @include devices(mobile) {
    font-size: 2.4vw;
  }
}
