// _footer.scss

.footer {
  display: flex;
  flex-direction: row;
  align-items: top;
  gap: 4rem;

  .column {
    margin-right: 20px;

    h2 {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $grey;
      }
    }

    a {
      display: block;
      @include mT20;
      // &:hover {
      //   text-decoration: underline;
      // }
    }

    p {
      margin-top: 20px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;

      img {
        margin-right: 10px;
        height: 20px;
      }
    }
  }
}
