// _hero.scss

.hero {
    display: flex;
    flex-direction: column;
    padding: 14vw 0.26vw 10vw 5.8vw;
    width: 57rem;

    h1 {@include font72;
        margin-bottom: 2vw;
    }
    
    @include devices(mobile){
        h1 {@include font48}

    }

    @include devices(laptop) {
        padding: 14vw 0.26vw 10vw 4vw;
        width: 40rem;
      }

    @include devices(tablet) {
        padding: 18vw 0.26vw 10vw 4vw;
        width: 35rem;
      }

    @include devices(mobile) {
        padding: 20vw 0.26vw 10vw 4vw;
        width: 20rem;
      }

}
