.services {
  @include containerV;
  padding-bottom: 4.16vw;
  height: 160vh;

  h1 {
    font-family: $displayM;
    @include font72;
  }

  @include devices(tablet) {
    height: min-content;
  }

  .wrapper {
    position: absolute;
    @include mT100;
    display: flex;
    gap: 13.5vw;

    @include devices(tablet) {
      position: static;
      flex-direction: column;
      gap: 5vw;
    }

    @include devices(mobile) {
      gap: 7vw;
    }

    h3 {
      font-family: $displayM;
      @include font48;
    }

    p {
      @include mT20;
      @include font20;
      width: 95%;

      @include devices(laptop) {
        width: 60%;
      }

      @include devices(mobile) {
        width: 100%;
      }
    }

    button {
      @include mT50;
    }

    span {
      color: $grey;
    }

    ul {
      @include mT20;

      li {
        margin: 0.15vw 0;

        @include devices(laptop) {
          margin: 0.5vw 0;
        }

        @include devices(tablet) {
          margin: 1vw 0;
        }

        @include devices(mobile) {
          margin: 2vw 0;
        }
      }
    }

    .wrapper_left {
      position: sticky;
      display: block;
      @include font18;
      width: 50%;
      height: 100%;
      top: 100px;

      @include devices(tablet) {
        width: 100%;
        position: static;
      }
    }

    .wrapper_right {
      position: static;
      display: block;
      width: 80%;

      @include devices(tablet) {
        width: 100%;
      }

      h3 {
        @include font28;
        span {
          font-family: $fontR;
          color: $white;
        }
      }
      .service {
        > div:nth-child(n + 2) {
          @include mT100;
        }

        > div {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          @include devices(tablet) {
            @include mT100;
            width: 100%;
          }

          h3 {
            @include font28;
            span {
              font-family: $fontR;
              color: $white;
            }
          }
        }

        @include devices(mobile) {
          flex-direction: column;
          gap: 8vw;
        }

        p {
          @include mT20;
          @include font20;
          width: 95%;

          @include devices(laptop) {
            width: 60%;
          }

          @include devices(mobile) {
            width: 100%;
          }
        }

        a {
          @include mT30;
          @include font18;

          @include devices(mobile) {
            width: 100%;
          }
        }
      }
    }
  }
}
