.works {
  @include containerV;
  @include font18;
  // position: relative;
  background-color: $darkgrey;
  // height: min-content;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 120vh;

  h1 {
    font-family: $displayM;
    @include font72;
  }

  .wrapper {
    @include mT100;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1vw;
    // overflow: hidden; !doesn't work

    .wrapper_left {
      @include font18;
      position: -webkit-sticky; /* For Safari */
      position: sticky;
      top: 100px; /* Adjust this value as needed */
      display: block;
      width: 40%;
      height: min-content;

      h3 {
        font-family: $displayM;
        @include font48;
      }

      p {
        @include mT20;
        @include font20;
      }

      @include devices(tablet) {
        width: 100%;
        position: static;
      }

      .tags {
        @include mT30;
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        gap: var(--Spacers-Whitespace-xs, 0.5rem);
        align-self: stretch;
        flex-wrap: wrap;

        .tag {
          @include font16;
          display: flex;
          gap: 0.8vw;
          background-color: $whitesurfaceinv;
          color: $white;
          padding: 0.4vw 0.6vw;
          border-radius: 50px;
          height: -moz-fit-content;
          height: fit-content;
          width: -moz-fit-content;
          width: fit-content;
          text-wrap: nowrap;

          @include devices(tablet) {
            padding: 0.8vh 1vh;
          }
        }
      }
    }

    .wrapper_right {
      display: flex;
      position: relative;
      overflow: hidden;
      height: 100%;
      width: auto;
      gap: 3vw;

      .frame {
        // position: relative;
        width: min-content;
        height: min-content;
        // overflow: hidden;
        height: min-content;

        .iphone-wrapper {
          position: relative;
          height: min-content;
          display: flex;
          min-width: 300px;
          max-width: 600px;
          display: flex;
          justify-content: center;
          justify-content: center;
          align-items: center;

          .iphone-frame {
            width: 100%;
            position: relative;
            object-position: center;
            height: min-content;
            object-fit: cover;
            image-rendering: auto;
            justify-content: center;
            z-index: 1;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
          .render {
            overflow: hidden;
            border-radius: 42px 42px 0 0;
            position: absolute;
            // padding-top: 15px;
            top: 0;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
        }
        .desktop-wrapper {
          position: relative;
          height: min-content;
          display: flex;
          min-width: 300px;
          display: flex;
          justify-content: center;
          justify-content: center;
          align-items: center;
          padding-top: 6vw;

          .desktop-frame {
            position: relative;
            object-position: center;
            height: min-content;
            object-fit: cover;
            image-rendering: auto;
            justify-content: center;
            z-index: 1;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
          .render {
            position: absolute;
            // z-index: 1;
            height: 100%;
          }

          @include devices(mobile) {
            display: none;
          }
        }
      }
    }

    @include devices(tablet) {
      position: static;
      flex-direction: column;
      gap: 5vw;
    }

    @include devices(mobile) {
      gap: 7vw;
    }
  }

  @include devices(mobile) {
    min-height: 160vh;
  }
  .gradient {
    position: relative;
    align-content: center;
    align-items: center;
    top: 250px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: center;
    padding: 0;
    width: 44%;
    // z-index: 0;

    .linear-gradient {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #333 100%);
      flex: 1 0 0px;
      height: 100%;
      overflow: hidden;
      // position: relative;
      width: 100%;
    }

    .text-cover {
      position: relative;
      background-color: #333;
      flex: none;
      height: 20vh;
      overflow: hidden;
      // position: relative;
      width: 100%;
    }
  }
}
