@font-face {
  font-family: "NeueHaasDisplayBold";
  font-style: bold;
  font-weight: 700;
  src: url(../fonts/NeueHaasDisplayBold.ttf) format("truetype");
}
@font-face {
  font-family: "NeueHaasDisplayRoman";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NeueHaasDisplayRoman.ttf) format("truetype");
}
@font-face {
  font-family: "NeueHaasDisplayLight";
  font-style: light;
  font-weight: 300;
  src: url(../fonts/NeueHaasDisplayLight.ttf) format("truetype");
}
@font-face {
  font-family: "FuturaPT";
  font-style: medium;
  font-weight: 450;
  src: url(../fonts/FuturaPTMedium.otf) format("opentype");
}
/* colors */
/* fonts */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "NeueHaasDisplayLight", sans-serif, light;
  background: #111;
  width: 100%;
  overflow-x: hidden;
  color: #eee;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

section {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

/*- breakpoints -*/
/*- Margins n Padding */
.container {
  padding-left: 5.2vw;
  padding-right: 5.2vw;
}
@media only screen and (max-width: 670px) {
  .container {
    padding-left: 2.6vw;
    padding-right: 2.6vw;
  }
}

/*- Buttons -*/
.button {
  background: #eee;
  padding: 0.7vw 1.2vw;
  border-radius: 50px;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  border: none;
  text-wrap: nowrap;
}
@media only screen and (max-width: 1140px) {
  .button {
    padding: 1vw 1.5vw;
  }
}
@media only screen and (max-width: 912px) {
  .button {
    padding: 1.8vw 3.6vw;
  }
}
@media only screen and (max-width: 670px) {
  .button {
    padding: 2vw 4vw;
  }
}
.button a {
  color: #eee;
  font-size: 0.9vw;
}
@media only screen and (max-width: 1140px) {
  .button a {
    font-size: 1.1vw;
  }
}
@media only screen and (max-width: 912px) {
  .button a {
    font-size: 1.6vw;
  }
}
@media only screen and (max-width: 670px) {
  .button a {
    font-size: 2.6vw;
  }
}

/*- Flip-Text-hover -*/
.m-flip {
  overflow: hidden;
}

.m-flip_item {
  display: block;
  position: relative;
  top: 0;
  transition: top 0.5s ease-out 0s;
}

a {
  display: block;
  color: #eee;
}

.overlay {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: #111;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 90;
  display: none;
}

.overlay.active {
  opacity: 0.5;
  display: block;
}

/*- Cursor -*/
#cursor {
  width: 0.8vw;
  height: 0.8vw;
  background: #eee;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transition: 0.1s ease;
  z-index: 99999999;
  opacity: 0;
  mix-blend-mode: difference;
}
@media only screen and (max-width: 912px) {
  #cursor {
    display: none;
  }
}

/* components */
nav {
  position: fixed;
  top: 2.8vw;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
@media only screen and (max-width: 670px) {
  nav {
    top: 5vw;
  }
}
nav .nav_logo {
  height: 3.12vw;
}
nav .nav_logo a {
  height: 100%;
}
nav .nav_logo a img {
  height: 100%;
}
@media only screen and (max-width: 670px) {
  nav .nav_logo {
    margin-top: 0vw;
  }
}

.nav_links {
  height: 3.12vw;
  padding: 0 0.26vw;
}
@media only screen and (max-width: 1140px) {
  .nav_links {
    height: 3.5vw;
  }
}
@media only screen and (max-width: 912px) {
  .nav_links {
    display: none;
  }
}
.nav_links ul {
  height: 100%;
  display: flex;
  gap: 2.6vw;
  align-items: center;
}
.nav_links ul li {
  position: relative;
  padding: 0.8vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media only screen and (max-width: 1140px) {
  .nav_links ul li {
    width: 6vw;
    height: 2.9vw;
  }
}
.nav_links ul li a {
  font-size: 0.9vw;
  letter-spacing: 0.05rem;
  padding: 0 0.6vw;
  color: #d9d9d9;
}
@media only screen and (max-width: 1140px) {
  .nav_links ul li a {
    font-size: 1.1vw;
    letter-spacing: 0.05rem;
  }
}
@media only screen and (max-width: 912px) {
  .nav_links ul li a {
    font-size: 1.8vw;
  }
}
@media only screen and (max-width: 670px) {
  .nav_links ul li a {
    font-size: 2.6vw;
  }
}
.nav_links ul li a a:hover {
  color: #eee;
}
.nav_links ul li a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.8px;
  bottom: 0;
  left: 0;
  background-color: #eee;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}
.nav_links ul li a.hovered:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav_btn {
  display: none;
}
@media only screen and (max-width: 912px) {
  .nav_btn {
    display: block;
  }
}

.responsive_nav {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #111;
  z-index: -1;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  transform: translateY(-1000px);
  opacity: 0;
  transition: all ease 0.5s;
}
@media only screen and (max-width: 670px) {
  .responsive_nav {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    z-index: 100;
  }
}
@media only screen and (max-width: 912px) {
  .responsive_nav {
    z-index: 100;
  }
}
.responsive_nav .close {
  position: absolute;
  right: 7%;
  top: 7%;
}
.responsive_nav .close img {
  width: 3vw;
}
.responsive_nav .resLinks {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-bottom: 2.6vw;
  padding-top: 15vw;
}
@media only screen and (max-width: 670px) {
  .responsive_nav .resLinks {
    padding-top: 25vw;
    padding-bottom: 10vw;
  }
}
.responsive_nav .resLinks ul li {
  margin: 4vw 0;
}
@media only screen and (max-width: 670px) {
  .responsive_nav .resLinks ul li {
    margin: 7vw 0;
  }
}
.responsive_nav .resLinks ul li a {
  font-size: 1.45vw;
  letter-spacing: 0%;
  color: #eee;
}
@media only screen and (max-width: 1140px) {
  .responsive_nav .resLinks ul li a {
    font-size: 1.7vw;
  }
}
@media only screen and (max-width: 912px) {
  .responsive_nav .resLinks ul li a {
    font-size: 2.8vw;
  }
}
@media only screen and (max-width: 670px) {
  .responsive_nav .resLinks ul li a {
    font-size: 3.5vw;
  }
}
.responsive_nav .resLinks ul li a.active {
  background: #eee;
  color: #111;
  padding: 1.5vw 3vw;
  border-radius: 50px;
}
.responsive_nav .resLinks .social {
  margin-top: 5.2vw;
}
.responsive_nav .resLinks .social p {
  color: #999;
  font-size: 0.9vw;
  letter-spacing: 0.05rem;
}
@media only screen and (max-width: 1140px) {
  .responsive_nav .resLinks .social p {
    font-size: 1.1vw;
    letter-spacing: 0.05rem;
  }
}
@media only screen and (max-width: 912px) {
  .responsive_nav .resLinks .social p {
    font-size: 1.8vw;
  }
}
@media only screen and (max-width: 670px) {
  .responsive_nav .resLinks .social p {
    font-size: 2.6vw;
  }
}
.responsive_nav .resLinks .social ul {
  display: flex;
  gap: 5vw;
}

.responsive_nav.active {
  transform: translateY(0);
  opacity: 1;
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 14vw 0.26vw 10vw 5.8vw;
  width: 57rem;
}
.hero h1 {
  font-size: 3.75vw;
  letter-spacing: 0.0375rem;
  font-weight: 500;
  margin-bottom: 2vw;
}
@media only screen and (max-width: 912px) {
  .hero h1 {
    font-size: 5.5vw;
    letter-spacing: 0.0375rem;
  }
}
@media only screen and (max-width: 670px) {
  .hero h1 {
    font-size: 7vw;
  }
}
@media only screen and (max-width: 670px) {
  .hero h1 {
    font-size: 2.5vw;
    letter-spacing: 0%;
    font-weight: 400;
    line-height: 150%;
  }
}
@media only screen and (max-width: 670px) and (max-width: 1140px) {
  .hero h1 {
    font-size: 2.8vw;
    letter-spacing: 0%;
  }
}
@media only screen and (max-width: 670px) and (max-width: 912px) {
  .hero h1 {
    font-size: 3.7vw;
  }
}
@media only screen and (max-width: 670px) and (max-width: 670px) {
  .hero h1 {
    font-size: 5.5vw;
  }
}
@media only screen and (max-width: 1140px) {
  .hero {
    padding: 14vw 0.26vw 10vw 4vw;
    width: 40rem;
  }
}
@media only screen and (max-width: 912px) {
  .hero {
    padding: 18vw 0.26vw 10vw 4vw;
    width: 35rem;
  }
}
@media only screen and (max-width: 670px) {
  .hero {
    padding: 20vw 0.26vw 10vw 4vw;
    width: 20rem;
  }
}

.services {
  padding-top: 7.8vw;
}
@media only screen and (max-width: 912px) {
  .services {
    padding-top: 15vw;
  }
}
@media only screen and (max-width: 670px) {
  .services {
    padding-top: 20vw;
  }
}
.services h1 {
  font-family: "FuturaPT", sans-serif, normal;
  font-size: 3.75vw;
  letter-spacing: 0.0375rem;
  font-weight: 500;
}
@media only screen and (max-width: 912px) {
  .services h1 {
    font-size: 5.5vw;
    letter-spacing: 0.0375rem;
  }
}
@media only screen and (max-width: 670px) {
  .services h1 {
    font-size: 7vw;
  }
}
.services .wrapper {
  position: relative;
  margin-top: 5.2vw;
  display: flex;
  gap: 13.5vw;
}
@media only screen and (max-width: 912px) {
  .services .wrapper {
    margin-top: 7vw;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper {
    margin-top: 12vw;
  }
}
@media only screen and (max-width: 912px) {
  .services .wrapper {
    flex-direction: column;
    gap: 5vw;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper {
    gap: 7vw;
  }
}
.services .wrapper .wrapper_left {
  position: sticky;
  top: 0;
  display: block;
  font-size: 0.9vw;
  letter-spacing: 0.05rem;
  width: 50%;
}
@media only screen and (max-width: 1140px) {
  .services .wrapper .wrapper_left {
    font-size: 1.1vw;
    letter-spacing: 0.05rem;
  }
}
@media only screen and (max-width: 912px) {
  .services .wrapper .wrapper_left {
    font-size: 1.8vw;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper .wrapper_left {
    font-size: 2.6vw;
  }
}
.services .wrapper h3 {
  font-family: "FuturaPT", sans-serif, normal;
  font-size: 2.5vw;
  letter-spacing: 0%;
  font-weight: 400;
  line-height: 150%;
}
@media only screen and (max-width: 1140px) {
  .services .wrapper h3 {
    font-size: 2.8vw;
    letter-spacing: 0%;
  }
}
@media only screen and (max-width: 912px) {
  .services .wrapper h3 {
    font-size: 3.7vw;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper h3 {
    font-size: 5.5vw;
  }
}
.services .wrapper p {
  margin-top: 1.04vw;
  font-size: 1.16vw;
  letter-spacing: -0.25px;
  line-height: 150%;
}
@media only screen and (max-width: 1140px) {
  .services .wrapper p {
    margin-top: 1.5vw;
  }
}
@media only screen and (max-width: 912px) {
  .services .wrapper p {
    margin-top: 3vw;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper p {
    margin-top: 5vw;
  }
}
@media only screen and (max-width: 1140px) {
  .services .wrapper p {
    letter-spacing: 0%;
    font-size: 1.2vw;
  }
}
@media only screen and (max-width: 912px) {
  .services .wrapper p {
    font-size: 2vw;
    letter-spacing: 0%;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper p {
    font-size: 3vw;
  }
}
.services .wrapper button {
  margin-top: 2.6vw;
}
@media only screen and (max-width: 912px) {
  .services .wrapper button {
    margin-top: 5.2vw;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper button {
    margin-top: 8vw;
  }
}
@media only screen and (max-width: 912px) {
  .services .wrapper {
    width: 100%;
  }
}
.services .wrapper span {
  color: #999;
}
.services .wrapper ul {
  margin-top: 1.04vw;
}
@media only screen and (max-width: 1140px) {
  .services .wrapper ul {
    margin-top: 1.5vw;
  }
}
@media only screen and (max-width: 912px) {
  .services .wrapper ul {
    margin-top: 3vw;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper ul {
    margin-top: 5vw;
  }
}
.services .wrapper ul li {
  margin: 0.15vw 0;
}
@media only screen and (max-width: 1140px) {
  .services .wrapper ul li {
    margin: 0.5vw 0;
  }
}
@media only screen and (max-width: 912px) {
  .services .wrapper ul li {
    margin: 1vw 0;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper ul li {
    margin: 2vw 0;
  }
}
.services .wrapper_right {
  display: block;
  width: 80%;
}
@media only screen and (max-width: 912px) {
  .services .wrapper_right {
    width: 100%;
  }
}
.services .wrapper_right h3 {
  font-size: 1.45vw;
  letter-spacing: 0%;
}
@media only screen and (max-width: 1140px) {
  .services .wrapper_right h3 {
    font-size: 1.7vw;
  }
}
@media only screen and (max-width: 912px) {
  .services .wrapper_right h3 {
    font-size: 2.8vw;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper_right h3 {
    font-size: 3.5vw;
  }
}
.services .wrapper_right .service > div:nth-child(n+2) {
  margin-top: 5.2vw;
}
@media only screen and (max-width: 912px) {
  .services .wrapper_right .service > div:nth-child(n+2) {
    margin-top: 7vw;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper_right .service > div:nth-child(n+2) {
    margin-top: 12vw;
  }
}
.services .wrapper_right .service > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 912px) {
  .services .wrapper_right .service > div {
    width: 100%;
  }
}
.services .wrapper_right .service > div h3 {
  font-size: 1.45vw;
  letter-spacing: 0%;
}
@media only screen and (max-width: 1140px) {
  .services .wrapper_right .service > div h3 {
    font-size: 1.7vw;
  }
}
@media only screen and (max-width: 912px) {
  .services .wrapper_right .service > div h3 {
    font-size: 2.8vw;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper_right .service > div h3 {
    font-size: 3.5vw;
  }
}
.services .wrapper_right .service > div h3 span {
  font-family: "NeueHaasDisplayRoman", sans-serif, normal;
  color: #eee;
}
.services .wrapper_right .service .service > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 670px) {
  .services .wrapper_right .service {
    flex-direction: column;
    gap: 8vw;
  }
}
.services .wrapper_right .service p {
  margin-top: 1.04vw;
  font-size: 1.16vw;
  letter-spacing: -0.25px;
  line-height: 150%;
  width: 70%;
}
@media only screen and (max-width: 1140px) {
  .services .wrapper_right .service p {
    margin-top: 1.5vw;
  }
}
@media only screen and (max-width: 912px) {
  .services .wrapper_right .service p {
    margin-top: 3vw;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper_right .service p {
    margin-top: 5vw;
  }
}
@media only screen and (max-width: 1140px) {
  .services .wrapper_right .service p {
    letter-spacing: 0%;
    font-size: 1.2vw;
  }
}
@media only screen and (max-width: 912px) {
  .services .wrapper_right .service p {
    font-size: 2vw;
    letter-spacing: 0%;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper_right .service p {
    font-size: 3vw;
  }
}
@media only screen and (max-width: 1140px) {
  .services .wrapper_right .service p {
    width: 60%;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper_right .service p {
    width: 100%;
  }
}
.services .wrapper_right .service a {
  margin-top: 1.56vw;
  color: #999;
  font-size: 0.9vw;
  letter-spacing: 0.05rem;
}
@media only screen and (max-width: 1140px) {
  .services .wrapper_right .service a {
    margin-top: 2vw;
  }
}
@media only screen and (max-width: 912px) {
  .services .wrapper_right .service a {
    margin-top: 4vw;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper_right .service a {
    margin-top: 6vw;
  }
}
@media only screen and (max-width: 1140px) {
  .services .wrapper_right .service a {
    font-size: 1.1vw;
    letter-spacing: 0.05rem;
  }
}
@media only screen and (max-width: 912px) {
  .services .wrapper_right .service a {
    font-size: 1.8vw;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper_right .service a {
    font-size: 2.6vw;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper_right .service a {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */