@font-face {
  font-family: "NeueHaasDisplayBold";
  font-style: bold;
  font-weight: 700;
  src: url(../fonts/NeueHaasDisplayBold.ttf) format("truetype");
}
@font-face {
  font-family: "NeueHaasDisplayRoman";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NeueHaasDisplayRoman.ttf) format("truetype");
}
@font-face {
  font-family: "NeueHaasDisplayLight";
  font-style: light;
  font-weight: 300;
  src: url(../fonts/NeueHaasDisplayLight.ttf) format("truetype");
}

@font-face {
  font-family: "FuturaPT";
  font-style: medium;
  font-weight: 450;
  src: url(../fonts/FuturaPTMedium.otf) format("opentype");
}

/* colors */
$black: #111;
$darkgrey: #333;
$grey: #999;
$white: #eee;
$offwhite: #d9d9d9;
$whitesurfaceinv: rgba(255, 255, 255, 0.2);

/* fonts */
$displayM: "FuturaPT", sans-serif, normal;
$fontB: "NeueHaasDisplayBold", sans-serif, bold;
$fontR: "NeueHaasDisplayRoman", sans-serif, normal;
$fontL: "NeueHaasDisplayLight", sans-serif, light;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  webkit-font-smoothing: auto;
  font-smooth: auto;
}

html,
body {
  font-family: $fontL;
  background: $black;
  width: 100%;
  overflow-x: hidden;
  color: $white;
}

a {
  display: flex;
  gap: 0.4vw;
  color: $grey;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ease;

  img {
    opacity: 0.5;
    transition: 0.2s ease;
  }

  &:hover {
    color: $white;
    img {
      opacity: 1;
    }
  }
}

ul {
  list-style: none;
}

section {
  width: 100%;
  min-height: 100vh;
  // overflow: hidden;
}

/*- breakpoints -*/
@mixin devices($breakpoint) {
  @if $breakpoint ==laptop {
    @media only screen and (max-width: 1140px) {
      @content;
    }
  }

  @if $breakpoint ==tablet {
    @media only screen and (max-width: 912px) {
      @content;
    }
  }

  @if $breakpoint ==mobile {
    @media only screen and (max-width: 670px) {
      @content;
    }
  }
}

/*- Margins n Padding */
.container {
  padding-left: 5.2vw;
  padding-right: 5.2vw;

  @include devices(mobile) {
    padding-left: 2.6vw;
    padding-right: 2.6vw;
  }
}

@mixin containerV {
  padding-top: 3.8vw;

  @include devices(tablet) {
    padding-top: 15vw;
  }

  @include devices(mobile) {
    padding-top: 20vw;
  }
}

@mixin mT100 {
  margin-top: 5.2vw;

  @include devices(tablet) {
    margin-top: 7vw;
  }

  @include devices(mobile) {
    margin-top: 12vw;
  }
}

@mixin mT50 {
  margin-top: 2.6vw;

  @include devices(tablet) {
    margin-top: 5.2vw;
  }

  @include devices(mobile) {
    margin-top: 8vw;
  }
}

@mixin mT30 {
  margin-top: 1.56vw;

  @include devices(laptop) {
    margin-top: 2vw;
  }

  @include devices(tablet) {
    margin-top: 4vw;
  }

  @include devices(mobile) {
    margin-top: 6vw;
  }
}

@mixin mT20 {
  margin-top: 1.04vw;

  @include devices(laptop) {
    margin-top: 1.5vw;
  }

  @include devices(tablet) {
    margin-top: 3vw;
  }

  @include devices(mobile) {
    margin-top: 5vw;
  }
}

/*- Buttons -*/
.button {
  display: flex;
  gap: 0.8vw;
  background-color: transparent;
  color: $white;
  border: 1px solid $white;
  padding: 0.7vw 1.2vw;
  border-radius: 50px;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  text-wrap: nowrap;
  transition: 0.2s ease;

  &:hover {
    background-color: $white;
    color: $black;
    img {
      filter: invert(1);
    }
  }

  @include devices(laptop) {
    padding: 1vw 1.5vw;
  }

  @include devices(tablet) {
    padding: 1.8vw 3.6vw;
  }

  @include devices(mobile) {
    padding: 2vw 4vw;
  }

  a {
    font-size: 0.9vw;

    @include devices(laptop) {
      font-size: 1.1vw;
    }

    @include devices(tablet) {
      font-size: 1.6vw;
    }

    @include devices(mobile) {
      font-size: 2.6vw;
    }
  }
}

/*- Cursor -*/
#cursor {
  width: 0.8vw;
  height: 0.8vw;
  background: $white;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transition: 0.1s ease;
  z-index: 99999999;
  opacity: 0;
  mix-blend-mode: difference;

  @include devices(tablet) {
    display: none;
  }
}

// // animate text
// .animate-text {
//   opacity: 0;
//   transform: opacity 0.5s ease-in-out;
// }

/* components */
@import "fonts";
@import "nav";
@import "footer";
@import "hero";
@import "services";
@import "works";
@import "about";
@import "video";
