@font-face {
  font-family: "NeueHaasDisplayBold";
  font-style: bold;
  font-weight: 700;
  src: url(../fonts/NeueHaasDisplayBold.ttf) format("truetype");
}
@font-face {
  font-family: "NeueHaasDisplayRoman";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NeueHaasDisplayRoman.ttf) format("truetype");
}
@font-face {
  font-family: "NeueHaasDisplayLight";
  font-style: light;
  font-weight: 300;
  src: url(../fonts/NeueHaasDisplayLight.ttf) format("truetype");
}
@font-face {
  font-family: "FuturaPT";
  font-style: medium;
  font-weight: 450;
  src: url(../fonts/FuturaPTMedium.otf) format("opentype");
}
/* colors */
/* fonts */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  webkit-font-smoothing: auto;
  font-smooth: auto;
}

html,
body {
  font-family: "NeueHaasDisplayLight", sans-serif, light;
  background: #111;
  width: 100%;
  overflow-x: hidden;
  color: #eee;
}

a {
  display: flex;
  gap: 0.4vw;
  color: #999;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ease;
}
a img {
  opacity: 0.5;
  transition: 0.2s ease;
}
a:hover {
  color: #eee;
}
a:hover img {
  opacity: 1;
}

ul {
  list-style: none;
}

section {
  width: 100%;
  min-height: 100vh;
}

/*- breakpoints -*/
/*- Margins n Padding */
.container {
  padding-left: 5.2vw;
  padding-right: 5.2vw;
}
@media only screen and (max-width: 670px) {
  .container {
    padding-left: 2.6vw;
    padding-right: 2.6vw;
  }
}

/*- Buttons -*/
.button {
  display: flex;
  gap: 0.8vw;
  background-color: transparent;
  color: #eee;
  border: 1px solid #eee;
  padding: 0.7vw 1.2vw;
  border-radius: 50px;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  text-wrap: nowrap;
  transition: 0.2s ease;
}
.button:hover {
  background-color: #eee;
  color: #111;
}
.button:hover img {
  filter: invert(1);
}
@media only screen and (max-width: 1140px) {
  .button {
    padding: 1vw 1.5vw;
  }
}
@media only screen and (max-width: 912px) {
  .button {
    padding: 1.8vw 3.6vw;
  }
}
@media only screen and (max-width: 670px) {
  .button {
    padding: 2vw 4vw;
  }
}
.button a {
  font-size: 0.9vw;
}
@media only screen and (max-width: 1140px) {
  .button a {
    font-size: 1.1vw;
  }
}
@media only screen and (max-width: 912px) {
  .button a {
    font-size: 1.6vw;
  }
}
@media only screen and (max-width: 670px) {
  .button a {
    font-size: 2.6vw;
  }
}

/*- Cursor -*/
#cursor {
  width: 0.8vw;
  height: 0.8vw;
  background: #eee;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transition: 0.1s ease;
  z-index: 99999999;
  opacity: 0;
  mix-blend-mode: difference;
}
@media only screen and (max-width: 912px) {
  #cursor {
    display: none;
  }
}

/* components */
nav {
  position: fixed;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 0;
  z-index: 10;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  background: linear-gradient(rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.0001) 100%);
}
@media only screen and (max-width: 670px) {
  nav {
    top: 5vw;
  }
}
nav .nav_logo {
  height: 3.12vw;
}
nav .nav_logo a {
  height: 100%;
}
nav .nav_logo a img {
  height: 100%;
  opacity: 1;
}
@media only screen and (max-width: 670px) {
  nav .nav_logo {
    margin-top: 0vw;
  }
}

.nav_links {
  height: 3.12vw;
  padding: 0 0.26vw;
}
@media only screen and (max-width: 1140px) {
  .nav_links {
    height: 3.5vw;
  }
}
@media only screen and (max-width: 912px) {
  .nav_links {
    display: none;
  }
}
.nav_links ul {
  height: 100%;
  display: flex;
  gap: 2.6vw;
  align-items: center;
}
.nav_links ul li {
  position: relative;
  padding: 0.8vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media only screen and (max-width: 1140px) {
  .nav_links ul li {
    width: 6vw;
    height: 2.9vw;
  }
}
.nav_links ul li a {
  font-size: 0.9vw;
  letter-spacing: 0.05rem;
  padding: 0 0.6vw;
  color: #d9d9d9;
}
@media only screen and (max-width: 1140px) {
  .nav_links ul li a {
    font-size: 1.1vw;
    letter-spacing: 0.05rem;
  }
}
@media only screen and (max-width: 912px) {
  .nav_links ul li a {
    font-size: 1.8vw;
  }
}
@media only screen and (max-width: 670px) {
  .nav_links ul li a {
    font-size: 2.6vw;
  }
}
.nav_links ul li a a:hover {
  color: #eee;
}
.nav_links ul li a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.8px;
  bottom: 0;
  left: 0;
  background-color: #eee;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}
.nav_links ul li a.hovered:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav_btn {
  display: none;
}
@media only screen and (max-width: 912px) {
  .nav_btn {
    display: block;
  }
}

.responsive_nav {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #111;
  z-index: -1;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  transform: translateY(-1000px);
  opacity: 0;
  transition: all ease 0.5s;
}
@media only screen and (max-width: 670px) {
  .responsive_nav {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    z-index: 100;
  }
}
@media only screen and (max-width: 912px) {
  .responsive_nav {
    z-index: 100;
  }
}
.responsive_nav .close {
  position: absolute;
  right: 7%;
  top: 7%;
}
.responsive_nav .close img {
  width: 3vw;
}
.responsive_nav .resLinks {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-bottom: 2.6vw;
  padding-top: 15vw;
}
@media only screen and (max-width: 670px) {
  .responsive_nav .resLinks {
    padding-top: 25vw;
    padding-bottom: 10vw;
  }
}
.responsive_nav .resLinks ul li {
  margin: 4vw 0;
}
@media only screen and (max-width: 670px) {
  .responsive_nav .resLinks ul li {
    margin: 7vw 0;
  }
}
.responsive_nav .resLinks ul li a {
  font-size: 1.45vw;
  letter-spacing: 0%;
  color: #eee;
}
@media only screen and (max-width: 1140px) {
  .responsive_nav .resLinks ul li a {
    font-size: 1.7vw;
  }
}
@media only screen and (max-width: 912px) {
  .responsive_nav .resLinks ul li a {
    font-size: 2.8vw;
  }
}
@media only screen and (max-width: 670px) {
  .responsive_nav .resLinks ul li a {
    font-size: 3.5vw;
  }
}
.responsive_nav .resLinks ul li a.active {
  background: #eee;
  color: #111;
  padding: 1.5vw 3vw;
  border-radius: 50px;
}
.responsive_nav .resLinks .social {
  margin-top: 5.2vw;
}
.responsive_nav .resLinks .social p {
  color: #999;
  font-size: 0.9vw;
  letter-spacing: 0.05rem;
}
@media only screen and (max-width: 1140px) {
  .responsive_nav .resLinks .social p {
    font-size: 1.1vw;
    letter-spacing: 0.05rem;
  }
}
@media only screen and (max-width: 912px) {
  .responsive_nav .resLinks .social p {
    font-size: 1.8vw;
  }
}
@media only screen and (max-width: 670px) {
  .responsive_nav .resLinks .social p {
    font-size: 2.6vw;
  }
}
.responsive_nav .resLinks .social ul {
  display: flex;
  gap: 5vw;
}

.responsive_nav.active {
  transform: translateY(0);
  opacity: 1;
}

.footer {
  padding-top: 3.8vw;
  display: flex;
  flex-direction: row;
  align-items: top;
  padding-bottom: 4.16vw;
  gap: 4rem;
  z-index: 1;
}
@media only screen and (max-width: 912px) {
  .footer {
    padding-top: 15vw;
  }
}
@media only screen and (max-width: 670px) {
  .footer {
    padding-top: 20vw;
  }
}
.footer .column h2 {
  position: relative;
}
.footer .column h2::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #999;
}
.footer .column a {
  display: block;
  margin-top: 1.04vw;
}
@media only screen and (max-width: 1140px) {
  .footer .column a {
    margin-top: 1.5vw;
  }
}
@media only screen and (max-width: 912px) {
  .footer .column a {
    margin-top: 3vw;
  }
}
@media only screen and (max-width: 670px) {
  .footer .column a {
    margin-top: 5vw;
  }
}
.footer .column p {
  margin-top: 1.04vw;
  display: flex;
  align-items: center;
  color: #999;
}
@media only screen and (max-width: 1140px) {
  .footer .column p {
    margin-top: 1.5vw;
  }
}
@media only screen and (max-width: 912px) {
  .footer .column p {
    margin-top: 3vw;
  }
}
@media only screen and (max-width: 670px) {
  .footer .column p {
    margin-top: 5vw;
  }
}
.footer .column p img {
  margin-right: 10px;
  height: 20px;
}
@media only screen and (max-width: 912px) {
  .footer {
    flex-direction: column;
    gap: 2rem;
  }
  .footer .column h2 {
    margin-bottom: 1.5rem;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 14vw 0.26vw 10vw 5.8vw;
  width: 57rem;
}
.hero h1 {
  font-size: 3.75vw;
  letter-spacing: 0.0375rem;
  font-weight: 500;
  margin-bottom: 2vw;
}
@media only screen and (max-width: 912px) {
  .hero h1 {
    font-size: 5.5vw;
    letter-spacing: 0.0375rem;
  }
}
@media only screen and (max-width: 670px) {
  .hero h1 {
    font-size: 7vw;
  }
}
@media only screen and (max-width: 670px) {
  .hero h1 {
    font-size: 2.5vw;
    letter-spacing: 0%;
    font-weight: 400;
    line-height: 150%;
  }
}
@media only screen and (max-width: 670px) and (max-width: 1140px) {
  .hero h1 {
    font-size: 2.8vw;
    letter-spacing: 0%;
  }
}
@media only screen and (max-width: 670px) and (max-width: 912px) {
  .hero h1 {
    font-size: 3.7vw;
  }
}
@media only screen and (max-width: 670px) and (max-width: 670px) {
  .hero h1 {
    font-size: 5.5vw;
  }
}
@media only screen and (max-width: 1140px) {
  .hero {
    padding: 14vw 0.26vw 10vw 4vw;
    width: 40rem;
  }
}
@media only screen and (max-width: 912px) {
  .hero {
    padding: 18vw 0.26vw 10vw 4vw;
    width: 35rem;
  }
}
@media only screen and (max-width: 670px) {
  .hero {
    padding: 20vw 0.26vw 10vw 4vw;
    width: 20rem;
  }
}

.services {
  padding-top: 3.8vw;
  padding-bottom: 4.16vw;
  height: 160vh;
}
@media only screen and (max-width: 912px) {
  .services {
    padding-top: 15vw;
  }
}
@media only screen and (max-width: 670px) {
  .services {
    padding-top: 20vw;
  }
}
.services h1 {
  font-family: "FuturaPT", sans-serif, normal;
  font-size: 3.75vw;
  letter-spacing: 0.0375rem;
  font-weight: 500;
}
@media only screen and (max-width: 912px) {
  .services h1 {
    font-size: 5.5vw;
    letter-spacing: 0.0375rem;
  }
}
@media only screen and (max-width: 670px) {
  .services h1 {
    font-size: 7vw;
  }
}
@media only screen and (max-width: 912px) {
  .services {
    height: -moz-min-content;
    height: min-content;
  }
}
.services .wrapper {
  position: absolute;
  margin-top: 5.2vw;
  display: flex;
  gap: 13.5vw;
}
@media only screen and (max-width: 912px) {
  .services .wrapper {
    margin-top: 7vw;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper {
    margin-top: 12vw;
  }
}
@media only screen and (max-width: 912px) {
  .services .wrapper {
    position: static;
    flex-direction: column;
    gap: 5vw;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper {
    gap: 7vw;
  }
}
.services .wrapper h3 {
  font-family: "FuturaPT", sans-serif, normal;
  font-size: 2.5vw;
  letter-spacing: 0%;
  font-weight: 400;
  line-height: 150%;
}
@media only screen and (max-width: 1140px) {
  .services .wrapper h3 {
    font-size: 2.8vw;
    letter-spacing: 0%;
  }
}
@media only screen and (max-width: 912px) {
  .services .wrapper h3 {
    font-size: 3.7vw;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper h3 {
    font-size: 5.5vw;
  }
}
.services .wrapper p {
  margin-top: 1.04vw;
  font-size: 1.16vw;
  letter-spacing: -0.25px;
  line-height: 150%;
  width: 95%;
}
@media only screen and (max-width: 1140px) {
  .services .wrapper p {
    margin-top: 1.5vw;
  }
}
@media only screen and (max-width: 912px) {
  .services .wrapper p {
    margin-top: 3vw;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper p {
    margin-top: 5vw;
  }
}
@media only screen and (max-width: 1140px) {
  .services .wrapper p {
    letter-spacing: 0%;
    font-size: 1.2vw;
  }
}
@media only screen and (max-width: 912px) {
  .services .wrapper p {
    font-size: 2vw;
    letter-spacing: 0%;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper p {
    font-size: 3vw;
  }
}
@media only screen and (max-width: 1140px) {
  .services .wrapper p {
    width: 60%;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper p {
    width: 100%;
  }
}
.services .wrapper button {
  margin-top: 2.6vw;
}
@media only screen and (max-width: 912px) {
  .services .wrapper button {
    margin-top: 5.2vw;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper button {
    margin-top: 8vw;
  }
}
.services .wrapper span {
  color: #999;
}
.services .wrapper ul {
  margin-top: 1.04vw;
}
@media only screen and (max-width: 1140px) {
  .services .wrapper ul {
    margin-top: 1.5vw;
  }
}
@media only screen and (max-width: 912px) {
  .services .wrapper ul {
    margin-top: 3vw;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper ul {
    margin-top: 5vw;
  }
}
.services .wrapper ul li {
  margin: 0.15vw 0;
}
@media only screen and (max-width: 1140px) {
  .services .wrapper ul li {
    margin: 0.5vw 0;
  }
}
@media only screen and (max-width: 912px) {
  .services .wrapper ul li {
    margin: 1vw 0;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper ul li {
    margin: 2vw 0;
  }
}
.services .wrapper .wrapper_left {
  position: sticky;
  display: block;
  font-size: 0.9vw;
  letter-spacing: 0.05rem;
  width: 50%;
  height: 100%;
  top: 100px;
}
@media only screen and (max-width: 1140px) {
  .services .wrapper .wrapper_left {
    font-size: 1.1vw;
    letter-spacing: 0.05rem;
  }
}
@media only screen and (max-width: 912px) {
  .services .wrapper .wrapper_left {
    font-size: 1.8vw;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper .wrapper_left {
    font-size: 2.6vw;
  }
}
@media only screen and (max-width: 912px) {
  .services .wrapper .wrapper_left {
    width: 100%;
    position: static;
  }
}
.services .wrapper .wrapper_right {
  position: static;
  display: block;
  width: 80%;
}
@media only screen and (max-width: 912px) {
  .services .wrapper .wrapper_right {
    width: 100%;
  }
}
.services .wrapper .wrapper_right h3 {
  font-size: 1.45vw;
  letter-spacing: 0%;
}
@media only screen and (max-width: 1140px) {
  .services .wrapper .wrapper_right h3 {
    font-size: 1.7vw;
  }
}
@media only screen and (max-width: 912px) {
  .services .wrapper .wrapper_right h3 {
    font-size: 2.8vw;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper .wrapper_right h3 {
    font-size: 3.5vw;
  }
}
.services .wrapper .wrapper_right h3 span {
  font-family: "NeueHaasDisplayRoman", sans-serif, normal;
  color: #eee;
}
.services .wrapper .wrapper_right .service > div:nth-child(n+2) {
  margin-top: 5.2vw;
}
@media only screen and (max-width: 912px) {
  .services .wrapper .wrapper_right .service > div:nth-child(n+2) {
    margin-top: 7vw;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper .wrapper_right .service > div:nth-child(n+2) {
    margin-top: 12vw;
  }
}
.services .wrapper .wrapper_right .service > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 912px) {
  .services .wrapper .wrapper_right .service > div {
    margin-top: 5.2vw;
    width: 100%;
  }
}
@media only screen and (max-width: 912px) and (max-width: 912px) {
  .services .wrapper .wrapper_right .service > div {
    margin-top: 7vw;
  }
}
@media only screen and (max-width: 912px) and (max-width: 670px) {
  .services .wrapper .wrapper_right .service > div {
    margin-top: 12vw;
  }
}
.services .wrapper .wrapper_right .service > div h3 {
  font-size: 1.45vw;
  letter-spacing: 0%;
}
@media only screen and (max-width: 1140px) {
  .services .wrapper .wrapper_right .service > div h3 {
    font-size: 1.7vw;
  }
}
@media only screen and (max-width: 912px) {
  .services .wrapper .wrapper_right .service > div h3 {
    font-size: 2.8vw;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper .wrapper_right .service > div h3 {
    font-size: 3.5vw;
  }
}
.services .wrapper .wrapper_right .service > div h3 span {
  font-family: "NeueHaasDisplayRoman", sans-serif, normal;
  color: #eee;
}
@media only screen and (max-width: 670px) {
  .services .wrapper .wrapper_right .service {
    flex-direction: column;
    gap: 8vw;
  }
}
.services .wrapper .wrapper_right .service p {
  margin-top: 1.04vw;
  font-size: 1.16vw;
  letter-spacing: -0.25px;
  line-height: 150%;
  width: 95%;
}
@media only screen and (max-width: 1140px) {
  .services .wrapper .wrapper_right .service p {
    margin-top: 1.5vw;
  }
}
@media only screen and (max-width: 912px) {
  .services .wrapper .wrapper_right .service p {
    margin-top: 3vw;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper .wrapper_right .service p {
    margin-top: 5vw;
  }
}
@media only screen and (max-width: 1140px) {
  .services .wrapper .wrapper_right .service p {
    letter-spacing: 0%;
    font-size: 1.2vw;
  }
}
@media only screen and (max-width: 912px) {
  .services .wrapper .wrapper_right .service p {
    font-size: 2vw;
    letter-spacing: 0%;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper .wrapper_right .service p {
    font-size: 3vw;
  }
}
@media only screen and (max-width: 1140px) {
  .services .wrapper .wrapper_right .service p {
    width: 60%;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper .wrapper_right .service p {
    width: 100%;
  }
}
.services .wrapper .wrapper_right .service a {
  margin-top: 1.56vw;
  font-size: 0.9vw;
  letter-spacing: 0.05rem;
}
@media only screen and (max-width: 1140px) {
  .services .wrapper .wrapper_right .service a {
    margin-top: 2vw;
  }
}
@media only screen and (max-width: 912px) {
  .services .wrapper .wrapper_right .service a {
    margin-top: 4vw;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper .wrapper_right .service a {
    margin-top: 6vw;
  }
}
@media only screen and (max-width: 1140px) {
  .services .wrapper .wrapper_right .service a {
    font-size: 1.1vw;
    letter-spacing: 0.05rem;
  }
}
@media only screen and (max-width: 912px) {
  .services .wrapper .wrapper_right .service a {
    font-size: 1.8vw;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper .wrapper_right .service a {
    font-size: 2.6vw;
  }
}
@media only screen and (max-width: 670px) {
  .services .wrapper .wrapper_right .service a {
    width: 100%;
  }
}

.works {
  padding-top: 3.8vw;
  font-size: 0.9vw;
  letter-spacing: 0.05rem;
  background-color: #333;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 130vh;
}
@media only screen and (max-width: 912px) {
  .works {
    padding-top: 15vw;
  }
}
@media only screen and (max-width: 670px) {
  .works {
    padding-top: 20vw;
  }
}
@media only screen and (max-width: 1140px) {
  .works {
    font-size: 1.1vw;
    letter-spacing: 0.05rem;
  }
}
@media only screen and (max-width: 912px) {
  .works {
    font-size: 1.8vw;
  }
}
@media only screen and (max-width: 670px) {
  .works {
    font-size: 2.6vw;
  }
}
.works h1 {
  font-family: "FuturaPT", sans-serif, normal;
  font-size: 3.75vw;
  letter-spacing: 0.0375rem;
  font-weight: 500;
}
@media only screen and (max-width: 912px) {
  .works h1 {
    font-size: 5.5vw;
    letter-spacing: 0.0375rem;
  }
}
@media only screen and (max-width: 670px) {
  .works h1 {
    font-size: 7vw;
  }
}
.works .wrapper {
  margin-top: 5.2vw;
  position: absolute;
  max-width: 94.8vw;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1vw;
}
@media only screen and (max-width: 912px) {
  .works .wrapper {
    margin-top: 7vw;
  }
}
@media only screen and (max-width: 670px) {
  .works .wrapper {
    margin-top: 12vw;
  }
}
.works .wrapper .wrapper_left {
  font-size: 0.9vw;
  letter-spacing: 0.05rem; /* For Safari */
  position: sticky;
  top: 100px; /* Adjust this value as needed */
  display: block;
  min-width: 39%;
  width: 40%;
  height: -moz-min-content;
  height: min-content;
}
@media only screen and (max-width: 1140px) {
  .works .wrapper .wrapper_left {
    font-size: 1.1vw;
    letter-spacing: 0.05rem;
  }
}
@media only screen and (max-width: 912px) {
  .works .wrapper .wrapper_left {
    font-size: 1.8vw;
  }
}
@media only screen and (max-width: 670px) {
  .works .wrapper .wrapper_left {
    font-size: 2.6vw;
  }
}
.works .wrapper .wrapper_left h3 {
  font-family: "FuturaPT", sans-serif, normal;
  font-size: 2.5vw;
  letter-spacing: 0%;
  font-weight: 400;
  line-height: 150%;
}
@media only screen and (max-width: 1140px) {
  .works .wrapper .wrapper_left h3 {
    font-size: 2.8vw;
    letter-spacing: 0%;
  }
}
@media only screen and (max-width: 912px) {
  .works .wrapper .wrapper_left h3 {
    font-size: 3.7vw;
  }
}
@media only screen and (max-width: 670px) {
  .works .wrapper .wrapper_left h3 {
    font-size: 5.5vw;
  }
}
.works .wrapper .wrapper_left p {
  margin-top: 1.04vw;
  font-size: 1.16vw;
  letter-spacing: -0.25px;
  line-height: 150%;
}
@media only screen and (max-width: 1140px) {
  .works .wrapper .wrapper_left p {
    margin-top: 1.5vw;
  }
}
@media only screen and (max-width: 912px) {
  .works .wrapper .wrapper_left p {
    margin-top: 3vw;
  }
}
@media only screen and (max-width: 670px) {
  .works .wrapper .wrapper_left p {
    margin-top: 5vw;
  }
}
@media only screen and (max-width: 1140px) {
  .works .wrapper .wrapper_left p {
    letter-spacing: 0%;
    font-size: 1.2vw;
  }
}
@media only screen and (max-width: 912px) {
  .works .wrapper .wrapper_left p {
    font-size: 2vw;
    letter-spacing: 0%;
  }
}
@media only screen and (max-width: 670px) {
  .works .wrapper .wrapper_left p {
    font-size: 3vw;
  }
}
@media only screen and (max-width: 912px) {
  .works .wrapper .wrapper_left {
    width: 100%;
    position: static;
  }
}
.works .wrapper .wrapper_left .tags {
  margin-top: 1.56vw;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: var(--Spacers-Whitespace-xs, 0.5rem);
  align-self: stretch;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1140px) {
  .works .wrapper .wrapper_left .tags {
    margin-top: 2vw;
  }
}
@media only screen and (max-width: 912px) {
  .works .wrapper .wrapper_left .tags {
    margin-top: 4vw;
  }
}
@media only screen and (max-width: 670px) {
  .works .wrapper .wrapper_left .tags {
    margin-top: 6vw;
  }
}
.works .wrapper .wrapper_left .tags .tag {
  font-size: 0.8vw;
  letter-spacing: 0.05rem;
  display: flex;
  gap: 0.8vw;
  background-color: rgba(255, 255, 255, 0.2);
  color: #eee;
  padding: 0.4vw 0.6vw;
  border-radius: 50px;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-wrap: nowrap;
}
@media only screen and (max-width: 1140px) {
  .works .wrapper .wrapper_left .tags .tag {
    font-size: 1vw;
    letter-spacing: 0.05rem;
  }
}
@media only screen and (max-width: 912px) {
  .works .wrapper .wrapper_left .tags .tag {
    font-size: 1.6vw;
  }
}
@media only screen and (max-width: 670px) {
  .works .wrapper .wrapper_left .tags .tag {
    font-size: 2.4vw;
  }
}
@media only screen and (max-width: 912px) {
  .works .wrapper .wrapper_left .tags .tag {
    padding: 0.8vh 1vh;
  }
}
.works .wrapper .wrapper_right {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 100%;
  gap: 3vw;
}
.works .wrapper .wrapper_right .frame {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-min-content;
  height: min-content;
}
.works .wrapper .wrapper_right .frame .iphone-wrapper {
  position: relative;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  min-width: 300px;
  max-width: 600px;
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
}
.works .wrapper .wrapper_right .frame .iphone-wrapper .iphone-frame {
  width: 100%;
  position: relative;
  -o-object-position: center;
     object-position: center;
  height: -moz-min-content;
  height: min-content;
  -o-object-fit: cover;
     object-fit: cover;
  image-rendering: auto;
  justify-content: center;
  z-index: 1;
}
.works .wrapper .wrapper_right .frame .iphone-wrapper .iphone-frame img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.works .wrapper .wrapper_right .frame .iphone-wrapper .render {
  overflow: hidden;
  border-radius: 2vh;
  max-width: 96%;
  position: absolute;
  top: 11px;
}
.works .wrapper .wrapper_right .frame .iphone-wrapper .render img {
  border-radius: 1vh;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.works .wrapper .wrapper_right .frame .desktop-wrapper {
  position: relative;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  min-width: 300px;
  max-width: 680px;
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  padding-top: 6vw;
}
.works .wrapper .wrapper_right .frame .desktop-wrapper .desktop-frame {
  width: 100%;
  position: relative;
  -o-object-position: center;
     object-position: center;
  height: -moz-min-content;
  height: min-content;
  -o-object-fit: cover;
     object-fit: cover;
  image-rendering: auto;
  justify-content: center;
  z-index: 1;
}
.works .wrapper .wrapper_right .frame .desktop-wrapper .desktop-frame img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.works .wrapper .wrapper_right .frame .desktop-wrapper .render {
  max-width: 96%;
  position: absolute;
  height: 100%;
}
.works .wrapper .wrapper_right .frame .desktop-wrapper .render img {
  border-radius: 1vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media only screen and (max-width: 912px) {
  .works .wrapper .wrapper_right .frame .desktop-wrapper {
    width: auto;
  }
}
@media only screen and (max-width: 670px) {
  .works .wrapper .wrapper_right .frame .desktop-wrapper {
    display: none;
  }
}
@media only screen and (max-width: 912px) {
  .works .wrapper {
    position: static;
    flex-direction: column;
    gap: 5vw;
  }
}
@media only screen and (max-width: 670px) {
  .works .wrapper {
    gap: 7vw;
  }
}
@media only screen and (max-width: 670px) {
  .works {
    min-height: 160vh;
  }
}
.works .gradient {
  position: relative;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  top: 35vh;
  height: 80%;
  justify-content: flex-end;
  width: 42%;
}
.works .gradient .linear-gradient {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #333 100%);
  height: 70%;
  width: 100%;
}
.works .gradient .text-cover {
  background-color: #333;
  height: 25vh;
  width: 100%;
}

.about {
  padding-top: 3.8vw;
  padding-bottom: 4.16vw;
  height: -moz-min-content;
  height: min-content;
}
@media only screen and (max-width: 912px) {
  .about {
    padding-top: 15vw;
  }
}
@media only screen and (max-width: 670px) {
  .about {
    padding-top: 20vw;
  }
}
.about h1 {
  font-family: "FuturaPT", sans-serif, normal;
  font-size: 3.75vw;
  letter-spacing: 0.0375rem;
  font-weight: 500;
}
@media only screen and (max-width: 912px) {
  .about h1 {
    font-size: 5.5vw;
    letter-spacing: 0.0375rem;
  }
}
@media only screen and (max-width: 670px) {
  .about h1 {
    font-size: 7vw;
  }
}
.about .grid-4 {
  margin-top: 5.2vw;
  grid-template-rows: auto auto;
  grid-auto-columns: 1fr;
  display: grid;
  grid-column-gap: 0.38em;
  grid-row-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media only screen and (max-width: 912px) {
  .about .grid-4 {
    margin-top: 7vw;
  }
}
@media only screen and (max-width: 670px) {
  .about .grid-4 {
    margin-top: 12vw;
  }
}
.about .grid-4 .grid-midsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: span 1/span 2/span 1/span 2;
  text-align: center;
}
.about .grid-4 .grid-midsection h3 {
  font-family: "FuturaPT", sans-serif, normal;
  font-size: 2.5vw;
  letter-spacing: 0%;
  font-weight: 400;
  line-height: 150%;
}
@media only screen and (max-width: 1140px) {
  .about .grid-4 .grid-midsection h3 {
    font-size: 2.8vw;
    letter-spacing: 0%;
  }
}
@media only screen and (max-width: 912px) {
  .about .grid-4 .grid-midsection h3 {
    font-size: 3.7vw;
  }
}
@media only screen and (max-width: 670px) {
  .about .grid-4 .grid-midsection h3 {
    font-size: 5.5vw;
  }
}
.about .grid-4 .grid-midsection p {
  text-align: center;
  font-size: 1.45vw;
  letter-spacing: 0%;
}
@media only screen and (max-width: 1140px) {
  .about .grid-4 .grid-midsection p {
    font-size: 1.7vw;
  }
}
@media only screen and (max-width: 912px) {
  .about .grid-4 .grid-midsection p {
    font-size: 2.8vw;
  }
}
@media only screen and (max-width: 670px) {
  .about .grid-4 .grid-midsection p {
    font-size: 3.5vw;
  }
}
.about .grid-4 .grid-midsection button {
  margin-top: 2.6vw;
}
@media only screen and (max-width: 912px) {
  .about .grid-4 .grid-midsection button {
    margin-top: 5.2vw;
  }
}
@media only screen and (max-width: 670px) {
  .about .grid-4 .grid-midsection button {
    margin-top: 8vw;
  }
}
@media only screen and (max-width: 912px) {
  .about .grid-4 .grid-midsection {
    grid-area: 1/1/2/2;
  }
}
.about .grid-4 .grid-card {
  background-color: #333;
  width: 100%;
  height: 22vw;
  border-radius: 1.1em;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 2.5em 2.5em 2.69em;
  display: flex;
  grid-area: span 1/span 1/span 1/span 1;
}
@media only screen and (max-width: 912px) {
  .about .grid-4 .grid-card {
    min-height: 30vw;
    height: 100%;
  }
}
@media only screen and (max-width: 912px) {
  .about .grid-4 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-auto-columns: 1fr;
    grid-column-gap: 0.38em;
    grid-row-gap: 1em;
    grid-template-areas: "1 2" "3 4" "5 6";
  }
}
@media only screen and (max-width: 912px) {
  .about {
    min-height: -moz-min-content;
    min-height: min-content;
    padding-bottom: 0;
  }
}/*# sourceMappingURL=main.css.map */